body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Static {
  position: fixed;
  padding-right: 148px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
